<h1>Register</h1>
<form action="/login/registrar" method="post">
    <input type="text" name="usuario" placeholder="NOMBRE">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="submit" value="Enviar">
</form>


<h1>SignIn</h1>
<form action="/login/login" method="post">
    <input type="text" name="username" placeholder="NOMBRE">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="submit" value="Enviar">
</form>